*{
    font-family: 'Poppins';
    font-weight: 600;
    color: #6d6a91;
}

body{
    background-color: #e2e2e2!important;
}

.home--content{
    padding: 100px;
}

.home--content > h1 {
    max-width: 400px;
    font-size: 50px;
    font-weight: 700;
}

.home--content > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.navbar-brand{ 
    color: #306b53!important;
    font-weight: 700!important;
    font-size: 22px!important;
}
.nav-link{
    font-size: 18px!important;
    color: black!important;
}
/* darklone */
.mx-2 {
    display: inline-block!important;
    background-color: #0e0e55!important;
    border-radius: 15px!important;
    border: 4px double #cccccc!important;
    color: #ffffff!important;
    text-align: center!important;
    font-size: 15px!important;
    padding: 10px!important;
    width:  150px!important;
    transition: all 0.5s!important;
    cursor: pointer!important;
    margin: 5px!important;
  }
  button span {
    cursor: pointer!important;
    display: inline-block!important;
    position: relative!important;
    transition: 0.5s!important;
  }
  .mx-2:hover {
    background-color: #686ae9!important;
  }
  
  
 